[submodule "CastleDoctrine"]
	path = CastleDoctrine
	url = https://github.com/barthouse/CastleDoctrine
[submodule "minorGems"]
	path = minorGems
	url = https://github.com/barthouse/minorGems
[submodule "SDL"]
	path = SDL
	url = https://github.com/barthouse/SDL.git
